body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}
@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}
.admin-card {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255,255,255,0.08);
  transition: 0.3s;
}

.admin-card:hover {
  transform: translateY(-5px);
}

.admin-card h2 {
  color: #fbbf24;
  font-size: 2.5rem;
}

.trending-slider {
  display: flex;
  gap: 25px;

  overflow-x: auto;

  padding: 20px;

  scrollbar-width: none;
}

.trending-slider::-webkit-scrollbar {
  display: none;
}

.trending-card {
  min-width: 320px;
  height: 420px;

  position: relative;

  overflow: hidden;

  border-radius: 30px;

  cursor: pointer;

  flex-shrink: 0;

  box-shadow:
    0 15px 40px rgba(0,0,0,0.35);
}

.trending-card img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.trending-overlay {
  position: absolute;

  bottom: 0;

  width: 100%;

  padding: 25px;

  background:
    linear-gradient(
      transparent,
      rgba(0,0,0,0.9)
    );
}

.trending-overlay h3 {
  color: white;
  font-size: 24px;
}

.floating-food {
  position: absolute;
  font-size: 42px;
  opacity: 0.8;
  animation: floatFood 4s ease-in-out infinite;
}

.food1 { top: 40px; left: 30px; }
.food2 { top: 100px; right: 60px; animation-delay: 1s; }
.food3 { bottom: 80px; left: 80px; animation-delay: 2s; }
.food4 { bottom: 40px; right: 100px; animation-delay: 3s; }

@keyframes floatFood {
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(-20px) rotate(8deg); }
  100% { transform: translateY(0px) rotate(0deg); }
}
html {
  scroll-behavior: smooth;
}